// Sass Variables

$color-primary: #456CC6;
$color-secondary: #404040;
$color-heading: #0b2653;
$color-body: #212529;
$color-dark: #333;
$color-black: #000000;
$color-blue: #2C3E91;
$color-white: #ffffff;

$font-heading: 'Montserrat-Bold';


$font-body: 'Montserrat';


$body-font-size: 14px;